html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #05797C;
}

.fond {
    min-height: 99vh;
    min-width: auto;
    background-color: #202023;
    border: 2px red solid;
    padding: 0;
}

header {
    background-color: #2C1F1F;
    min-height: 12vh;
    border-radius: 0px 0px 40px 40px;
    margin: 0;
}

footer {
    background-color: #2C1F1F;
    min-height: 12vh;
    border-radius: 40px 40px 0px 00px;
}

.flex {
    display: flex;
    align-items: center;
    min-height: 11vh;
    font-size: 18pt;
    margin-left: 20px;
    margin-right: 20px;
}

.menu {
    margin-left: auto;
    display: grid;
    grid-template-columns: 10vw 5vw 5vw;
}

.flex2 {
    display: flex;
    justify-content: space-evenly;
}

.cate {
    margin-top: 5vh;
}

.titre {
    margin-top: 30px;
    background-color: rgba(108, 74, 111, 0.32);
    padding: 10px;
    border: 1px solid rgba(108, 74, 111, 0.32);
    font-size: 22pt;
}

.info {
    margin-top: 4vh;
    background-color: #141D35;
    min-height: 20vh;
    padding: 30px;
    font-size: 18pt;
}

.info>li {
    padding: 15px;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat>img {
    width: 50px;
    height: 50px;
}

.casque {
    height: 80vh;
    width: auto;
    position: relative;
    
}