html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    color: #D4B47B;
    font-family: 'Times New Roman', Times, serif;
}
@font-face {
    font-family: 'Amplify';
    src: url(font/Amplify_PersonalUseOnly.ttf);
}
.fond {
    min-height: 99vh;
    min-width: auto;
    background-color: #202023;
    border: 2px #D4B47B solid;
    padding: 0;
}

header {
    background-color: #2C1F1F;
    min-height: 12vh;
    border-radius: 0px 0px 40px 40px;
    margin: 0;
}

footer{
    background-color: #2C1F1F;
    min-height: 12vh;
    min-width: auto;
    border-radius: 40px 40px 0px 00px;

    position: relative;
    bottom: -7.3vh;
}

.flex {
    display: flex;
    align-items: center;
    min-height: 11vh;
    font-size: 18pt;
    margin-left: 20px;
    margin-right: 20px;
}

.menu {
    margin-left: auto;
    display: grid;
    grid-template-columns: 10vw 5vw 5vw;
}

.flex2 {
    display: flex;
    justify-content: space-evenly;
}

.cate {
    margin-top: 5vh;
}

.titre {
    margin-top: 30px;
    background-color: rgba(108, 74, 111, 0.32);
    padding: 10px;
    border: 1px solid rgba(108, 74, 111, 0.32);
    font-size: 22pt;
    font-family: Amplify;
}

.titre>span{
    font-family: 'Times New Roman', Times, serif;
}

.info {
    margin-top: 4vh;
    background-color: #141D35;
    min-height: 20vh;
    padding: 30px;
    font-size: 18pt;
}

.info>li {
    padding: 15px;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat>img {
    width: 50px;
    height: 50px;
}

.casque {
    height: 80vh;
    width: auto;
    position: relative;
   
    
}

.texte2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;
    height: 80vh;
    width: auto;
}

.texte2>p{
    display: flex;
    align-items: center;
    text-align: center;
    border: 0,5px gray solid;
    padding: 35px;
    width: 10vw;
    height: 45vh;
    position: absolute;
    margin-top: 10vh;
    margin-left: 40vh;
    background-color: #141D35;
    border-radius: 15px;
    font-size: 20pt;
    font-family: Amplify;
}


.images{
    display: flex;
    bottom: -160vh;
    

}

.Sp{
    font-size: 15pt;
    right: -600px;
    z-index: 2;
    position: absolute;
    transition: 3s;
}

.Sp2{
    font-size: 15pt;
    right: 600px;
    z-index: 2;
    position: absolute;
}

.textM{
    opacity: 0;
    font-size: 15pt;
}
.textM2{
     font-size: 10pt;
    right: 580px;
    z-index: 2;
    min-width: 50vh;
    min-height: 10vh;
    background-color: #19191b;
    position: absolute;
    bottom: -130vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 2s;
    opacity: 0;
}

.textM3{
    font-size: 14pt;
    right: 580px;
    z-index: 2;
    min-width: 50vh;
    min-height: 10vh;
    background-color: #19191b;
    position: absolute;
    bottom: -130vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 2s;
    opacity: 1;
}

.textM4{
    font-size: 14pt;
    right: 580px;
    z-index: 2;
    min-width: 50vh;
    min-height: 10vh;
    background-color: #19191b;
    position: absolute;
    bottom: -130vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 2s;
    opacity: 1;
}

.Image1{
    position: absolute;
    max-width: 700px;
    max-height: 500px;
    
    z-index: 2;
    transform: translateX(-100vw);
    transition: 2s;
}

.Image3{
    position: absolute;
    max-width: 1000px;
    max-height: 800px;
    z-index: 1;
    bottom: -180vh;
    transform: rotate(-12deg);
    transform: translateX(200vh);
    transition: 2s;
    right: 7vh;
}

.flexi{
    display: flex;
    z-index: 2;
}

.left{
    background-color: #141D35;
    min-height: 100vh;
    min-width: 50vw;
    font-size: 20pt;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.right{
    background-color: #2C1F1F;
    min-height: 100vh;
    min-width: 50vw;
    font-size: 20pt;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.bouton{
    z-index: 4;
    font-size: 25pt;
    padding: 30px;
    border: 1px black solid;
    background-color: rgba(108, 74, 111, 0.32);
    width: 20vh;
    border-radius: 10px;
    position: absolute;
    top: 270vh;
    left: 93vh;
    transition: 2s;
}

.left2{
    background-color: #141D35;
    min-height: 100vh;
    min-width: 50vw;
    font-size: 20pt;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(+2000vh);
}

.right2{
    background-color: #2C1F1F;
    min-height: 100vh;
    min-width: 50vw;
    font-size: 20pt;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-1000vh);
}

.image1_1{
    position: absolute;
    max-width: 700px;
    max-height: 500px;
    z-index: 1;
    transform: translateX(00vh);
}

.image3_3{

    max-width: 1000px;
    max-height: 800px;
    z-index: 2;
    bottom: -180vh;
    transform: rotate(-12deg);
    
}
.bouton2{
    z-index: 3;
    font-size: 25pt;
    padding: 30px;
    border: 1px black solid;
    background-color: rgba(108, 74, 111, 0.32);
    width: 20vh;
    border-radius: 10px;
    transform: translateX(-300vh);
}
.lien{
    position: absolute;
    z-index: 1;
    bottom: -1400px;
    left: 680px;
}

.lien2{
    position: absolute;
    z-index: 2;
    bottom: -1400px;
    left: 680px;
}

.chat2{
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.chat2>img {
    width: 50px;
    height: 50px;
 
}

.partieF{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.PresentationF{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    max-width: 25vw;
    min-height: 20vh;
    border-radius: 0 10px 0 10px;
    border: 1px black solid;
    background-color: #141D35;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.achat{
    background-color: rgba(108, 74, 111, 0.32);
    border-radius: 40px;
    padding: 25px;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    margin-top: 40px;
}

.achat>a{
    text-decoration: none;
    color: #D4B47B;
}


.menu>a{
    text-decoration: none;
    color: #D4B47B;
}